
# **Tugas Menghitung Posisi Matahari**

Nama : Vanda Sekar Annisa

NIM  :10320047


---


Berikut hal yang akan dihitung dalam menghitung posisi matahari.


**Jarak Bumi-Matahari(R) :**

$ R = \frac{1.000001018(1-e^2)}{1+ecosv} $

**Apparent longitude of the Sun (λ) :**

$ λ = Θ - 0.00569° - 0.00478° sinΩ $

dengan Ω adalah

$ Ω = 125.04° - 1934.136°T $

**RA(α) dan dec(δ) Matahari :**

$ tanα= \frac{(cosϵ)(sinΘ)}{cosΘ} $

a) 13 Oktober 1992 jam 0h TD = JDE 2448908.5, dan

b) 20 April 2023 jam 04:16:44 UT = JD 2460054.678298

In [2]:
from math import *

In [12]:
# mendefinikan nilai JD 
JD1 = 2448908.5
JD2 = 2460002.7845833334 # mengoversi UT ke JD

# membuat fungsi untuk masing-masing parameter dan mendefinisikan nilai paramaternya
def time(JD):
  T = (JD - 2451545.0)/36525.0
  return T

T1 = time(JD1)
T2 = time(JD2)

def longtitudeme(T):
  L0 = 280.46645 + 36000.76983*T + 0.000302*T**2
  return L0

def meanano(T):
  M = 357.52910 + 35999.05030*T - 0.0001559*T**2 - 0.00000058*T**3
  return M

def eccentricity(T): 
  e = 0.016708617 - 0.000042037*T - 0.0000001236*T**2
  return e

M1 = meanano(T1) + 2520
M2 = meanano(T2) - 8640

def center(T, M):
  C = +(1.914600 - 0.004817*T - 0.000014*T**2)*(sin(radians(M))) + (0.019993 - 0.000101*T)*(sin(radians(2*M))) + 0.000290*(sin(radians(3*M))) 
  return C

L01 = longtitudeme(T1) + 2520
L02 = longtitudeme(T2) - 8280
C1 = center(T1, M1) 
C2 = center(T2, M2)

def  suntrue(L0, C):
  theta = L0 + C
  return theta

def trueano(M, C):
  v = M + C
  return v

v1 = trueano(M1, C1)
v2 = trueano(M2, C2)
e1 = eccentricity(T1)
e2 = eccentricity(T2)

def distance(e, v):
  R = (1.000001018*(1 - e**2))/(1 + e*cos(radians(v)))
  return R

def nutation(T):
  omega = 125.04 - 1934.136*T - 0.0036825*T**2 + T**3/327270
  return omega

omega1 = nutation(T1)
omega2 = nutation(T2) - 8640
theta1 = suntrue(L01, C1)
theta2 = suntrue(L02, C2)

def abberation(theta, omega):
  Lambda = theta - 0.00569 - 0.00478*sin(radians(omega))
  return Lambda

def meanobliquity(T):
  epsilon0 = (23 + (26/60.0) + (21.448/3600.0)) - ((46.8150/3600.0)*T) - ((0.00059/3600.0)*T**2) + ((0.001813*T**3))
  return epsilon0

epsilon01 = meanobliquity(T1)
epsilon02 = meanobliquity(T2)

def obliquity(epsilon0, omega):
  epsilon = epsilon0 + 0.00256*((cos(radians(omega))))
  return epsilon

epsilon1 = obliquity(epsilon01, omega1)
epsilon2 = obliquity(epsilon02, omega2)

def ra(epsilon, theta):
  alpha = degrees(atan(cos(radians(epsilon))*tan(radians(theta)))) 
  return alpha

def dec(epsilon, theta):
  delta = degrees(asin(sin(radians(epsilon))*sin(radians(theta))))
  return delta

In [13]:
# hasil nilai yang diperoleh dari soal
print('R  =', distance(e1, v1))
print('Ω  =', nutation(T1))
print('λ  =', abberation(theta1, omega1))
print('α  =', (ra(epsilon1, theta1)+180)/15) # menyesuaikan RA dengan kuadran dari parameter 
print('δ  =', dec(epsilon1, theta1))

R  = 0.9976619549420972
Ω  = 264.65256298796584
λ  = 199.90893467163224
α  = 13.22544590240337
δ  = -7.78541823866198

In [16]:
# paramater yang digunakan untuk mendapatkan nilai sesuai dengan soal
print('T  =', time(JD2))
print('L0 =', longtitudeme(T2), '=', longtitudeme(T2)-8280)
print('M  =', meanano(T2), '=', meanano(T2)-8640)
print('e  =', eccentricity(T2))
print('C  =', center(T2, M2))
print('Θ  =', suntrue(L02, C2))
print('v  =', trueano(M2, C2)) 
print('ε0 =', meanobliquity(T2))
print('ε  =', obliquity(epsilon02, omega2))

T  = 0.23156152178873138
L0 = 8616.85951359411 = 336.85951359411047
M  = 8693.523962050413 = 53.52396205041259
e  = 0.0166988762207853
C  = 1.5578315731500612
Θ  = 338.4173451672605
v  = 55.08179362356265
ε0 = 23.436302348814436
ε  = 23.43834232069743

In [23]:
# hasil nilai yang diperoleh dari soal
print('R  =', distance(e2, v2))
print('Ω  =', nutation(T2)+360)
print('λ  =', abberation(theta2, omega2))
print('α  =', (ra(epsilon2, theta2)+360)) # menyesuaikan RA dengan kuadran dari parameter
print('δ  =', dec(epsilon2, theta2))

R  = 0.9902567519462958
Ω  = 37.16832707320083
λ  = 338.40876728865885
α  = 340.05223144453964
δ  = -8.413376225034407